@import "main";

.projects-list {
  list-style: none;
  padding: 0;
  margin: 0 0 3rem;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @include breakpoint(tablet){
      flex-direction: column;
      gap:.5rem;
      align-items: flex-start;
    }
    p {
      margin: 0;

      a {
        color: var(--primary-color);
        text-decoration: none;
        font-size:2rem;
        &:hover {
          text-decoration: underline;
        }
        @include breakpoint(tablet){
          font-size:1.6rem;
        }
      }
    }

    .buttons {
      display: flex;
      gap: 1rem;

      button {
        margin-left: 0.5rem;
      }
    }
  }
}

.no-projects {
  font-size:1.6rem;
  margin-bottom:1rem;
}
