@import "main";
.header{
  padding:3rem 0rem;
  background: $c_one;
  .home-icon {
    width:2rem;
    height:2rem;
    position: absolute;
    left:1rem;
    top:1rem;
    z-index:1;
    a, img {
      height:100%;
      width:100%;
    }
  }
  h1 {
    font-size:5rem;
  }
}
